/* Fonts */
@font-face{
  font-family: 'Exo2-Bold';
  font-weight: 700;
  src: url('../fonts/Exo2-Bold.ttf')format('woff2');
}

@font-face {
  font-family: 'Exo2-Medium';
  font-weight: 400;
  src: url('../fonts/Exo2-Medium.ttf')format('woff2');
}

@font-face {
  font-family: 'Exo2-Italic';
  font-weight: 300;
  src: url('../fonts/Exo2-Italic.ttf')format('woff2');
}

/* Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  min-width: 580px;
  margin: 0 auto;
  background-color: #f2f2f6;
}

header{
  margin: 0 auto;
  top: 50%;
  text-align: center;
  justify-content: center;
  height: 60px;
}

main {
  display: inline-block;
  width: 100%;
  margin: 50px auto;
}

#title {
  font-family: 'Exo2-Bold';
  text-align: center;
  top: 50%;
  transform: translateY(50%);
}

.generator-container {
  width: 540px;
  height: auto;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
}

.generator-input{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 80px;
  width: 540px;
  background-color: #fff;
  margin: 0 auto;
}

.generator-password {
  display: flex;
  width: 350px;
  margin: auto 10px;
  justify-content: center;
  font-family: "Exo2-Medium";
  font-size: 18px;
  letter-spacing: .3px;
}

.generator-buttons {
  width: 190px;
  height: inherit;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
}

.generator-update-icon {
  display: flex;
  align-self: center;
  min-width: 19px;
  height: 35px;
  width: 35px;
  margin: 5px auto;
  background: url(../image/reload-medium.svg) no-repeat center;
  padding: 10px;
  cursor: pointer; 
  will-change: transform;
}

.generator-copy-btn {
  display: flex;
  align-self: center;
  margin: 10px auto;
  min-width: 50px;
  height: auto;
  text-transform: uppercase;
  font-family: 'Exo2-Bold';
  padding: 10px 25px;
  text-decoration: none;
  background-color: #cf2323;
  color: #fff;
}

.generator-copy-btn:hover {
  background-color: #e67777;
}

.rotate {
  transition: .8s ease-out ;
  transform: rotate(1turn);
}

.length-settings {
  display: flex;
  align-items: center;
  
}

.generator-settings {
  margin: 10px auto;
  font-family: "Exo2-Medium";
  font-size: 18px;
}

.generator-settings label {
  font-family: "Exo2-Italic";
  font-size: 18px;
}

.password-length{
  width: 20px;
  margin: 0 5px;
  text-align: center;
  justify-content: center;
}

.btn {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  margin: 5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
  font-family: "Exo-Medium";
}

.minus {

}

.plus {

}

.slider {

}